<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Simple Search Engine </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="site-header">
        <h1>♻️ Simple Search Engine ♻️</h1>
    </header>

    <main class="content">
        {% block content %}
        <!-- Content from child templates will go here -->
        {% endblock %}
    </main>

    <footer class="site-footer">
        <p>© Artificial Intelligence and the Web (WiSe 2024/25), M. Iribarren Tortone, R. Benzenhöfer, M. Matapurkar </p>
    </footer>
</body>
</html>
